.wrapper {
  background-color: #d45869;
}

.wrapper-form {
  height: 77.4vh;
  padding-top: 5rem;
}

.form-user {
  background-color: #ffffff;
  width: 60rem;
  height: 25rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  display: flex;
  position: relative;
}

.form-user-box {
  background-color: #d45869;
  position: absolute;
  margin: 0 auto;
  width: 3rem;
  height: 3rem;
  top: 0;
  bottom: 0;
  right: 0;
}

.form-user-main-info {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  flex: 50%;
}

.form-user-main-info,
.form-user-add-info {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  flex: 50%;
}

.form-user-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-user-input,
.form-user-select {
  margin-top: 0.25rem;
  padding: 0.75rem;
}

.form-user-label-sex {
  margin: 0.5rem 2rem 1rem 0;
}

.form-user-input-sex {
  margin-right: 0.5rem;
}

.form-user-file-input::-webkit-file-upload-button {
  display: none;
}

.form-user-file-input::before {
  content: 'Select file';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 0.75rem 2rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0.5rem 1rem 0 0;
}

.form-user-label-personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1.5rem 0;
  font-size: 0.75rem;
}

.form-user-checkbox-personal {
  margin-right: 1rem;
}

.form-user-submit-border {
  border: 1.5px solid #000000;
  border-radius: 50px;
  position: absolute;
  margin: 1rem auto;
  width: 11rem;
  height: 3rem;
  bottom: -25%;
  right: 0;
  left: -5%;
}

.form-user-submit-border:active {
  border: none;
}

.form-user-submit {
  font-size: 1rem;
  position: absolute;
  margin: 1rem auto;
  width: 11rem;
  height: 3rem;
  bottom: -8%;
  right: 0;
  left: 0;
  border: none;
  background: #b2d358;
  border-radius: 50px;
  cursor: pointer;
}

.form-user-submit:active {
  background: #719218;
}
