.wrapper-form {
  width: 20rem;
  margin: 1rem auto;
}

.wrapper-form-title {
  margin-bottom: 1rem;
  text-align: center;
}

.form-user {
  display: flex;
  flex-direction: column;
}

.form-user-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-user-input {
  margin-top: 0.25rem;
}

.form-user-label-personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.form-user-checkbox-personal {
  margin-right: 1rem;
}

.form-user-label-sex {
  margin: 0 2rem 1rem 0.25rem;
}
